[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# API proxy for development (optional)
[[redirects]]
  from = "/api/*"
  to = "https://blogbackc-ch-l6i7.onrender.com/api/:splat"
  status = 200
  force = true